/* 01 TYPOGRAPHY SYSTEM
  - Font sizes (px):
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  --- 07 WHITESPACE
  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --color-primary: #69db7c;
  --color-secondary: #8ce99a;
  --color-mid: #ebfbee;
  --color-light: #d3f9d8;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-ruby: #dc143c85;
  --color-javascript: #ffff009b;
  --color-python: #507ea48e;
  --color-swift: #ffac45;

  --border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --box-shadow: 0rem 1rem 4rem 2rem var(--color-dark-variant);
  --box-shadow-1: 0rem 0.5rem 2rem 1rem var(--color-dark-variant);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100vh; */
  width: 100vw;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow: hidden;
  position: relative;
}

main {
  overflow: hidden;
}

img {
  border-radius: 50%;
  object-fit: cover;
}

.row-gray {
  background-color: var(--color-background);
}

.row-white {
  background-color: var(--color-white);
}

.hidden {
  display: none;
}

.heading-primary {
  font-weight: 800;
  font-size: 3.4rem;
  color: var(--color-dark);
  text-align: center;
}

.heading-secondary {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--color-dark);
}

.heading-tertiary {
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
  color: var(--color-dark);
}

.btn,
.btn:link,
.btn:visited {
  /* display: inline-block; */
  border-radius: var(--border-radius-2);
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-logout {
  padding: 1.4rem 3.6rem;
  background-color: var(--color-secondary);
}

.btn-new {
  padding: 1.4rem 4.8rem;
  background-color: var(--color-secondary);
  width: 100%;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.btn-new:hover,
.btn-new:active {
  background-color: var(--color-primary);
}

.btn-logout:hover,
.btn-logout:active {
  background-color: var(--color-primary);
}

.javascript {
  background-color: var(--color-javascript);
}

.ruby {
  background-color: var(--color-ruby);
}

.python {
  background-color: var(--color-python);
}

.swift {
  background-color: var(--color-swift);
}
