/************** NAVBAR ***************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 3.6rem;
}

.logo-icon {
  height: 4.2rem;
  width: 4.2rem;
  color: var(--color-primary);
  background-color: var(--color-light);
  padding: 1.2rem;
  border-radius: 50%;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-icon {
  height: 5.4rem;
  width: 5.4rem;
  color: var(--color-dark);
}

/************** DASHBOARD ***************/

.dashboard-container {
  display: flex;
  gap: 4rem;
  margin: 2.4rem 3.6rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-2);
  padding: 2.4rem;
  overflow: hidden;
  height: 85vh;
}

.dashboard-table {
  flex: 1;
}

/************** DASHBOARD-SEARCH ***************/

.table-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-background);
  border-radius: var(--border-radius-2);
  padding: 1rem 2.4rem;
  margin: 1.2rem 0;
}

.table-search:hover,
.table-search:active {
  box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
}

.table-search input {
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 2rem;
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.table-sort {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.add-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: var(--color-dark);
}

.delete-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: var(--color-dark);
}

/************** TABLE ***************/

.table-container {
  max-height: calc(100vh - 330px);
  overflow-y: auto;
}

.dashboard-table table {
  width: 100%;
  padding: 0.2rem 0.6rem;
  text-align: center;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.dashboard-table thead {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
}

.dashboard-table th {
  font-size: 1.8rem;
  padding-bottom: 2.4rem;
}

.dashboard-table tbody {
  color: var(--color-dark-variant);
  cursor: pointer;
}

.dashboard-table td {
  height: 8.2rem;
  font-size: 1.4rem;
  padding: 0.4rem 0;
}

.dashboard-table tr:hover,
.dashboard-table tr:active {
  color: var(--color-dark);
  font-weight: 500;
}

.dashboard-table img {
  height: 100%;
  border-radius: 50%;
}

/************** DASHBOARD-INFO ***************/

.dashboard-info {
  padding: 0 1.2rem;
}
.student-img {
  text-align: center;
  padding-bottom: 2rem;
}

.student-img img {
  height: 18rem;
}

.student-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 4rem;
  margin: 1.8rem 0 3.6rem;
  text-align: center;
}

.student-info p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--color-dark-variant);
}

.student-info span {
  font-size: 1.4rem;
  color: var(--color-info-dark);
}

.info-courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 4rem;
  margin: 2rem 0;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.course span {
  display: inline-block;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-dark);
  border-radius: 100px;
  font-weight: 600;
}

.course p {
  font-size: 1.6rem;
  color: var(--color-dark-variant);
}

.course img {
  height: 5.4rem;
}
.info-edit {
  display: flex;
  justify-content: end;
}

/************** NEW STUDENT ***************/

.section-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-1);
  border: 2px solid var(--color-white);
}

.form-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4.8rem 2.4rem;
}

.close-icon {
  position: absolute;
  top: 3%;
  right: 4%;
  width: 3.6rem;
  height: 3.6rem;
}

.form-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.form-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.form-inputs input,
.form-inputs select {
  border: 2px solid var(--color-background);
  padding: 0.4rem;
  font-size: 1.8rem;
  border-radius: 8px;
  transition: all 0.3s;
  width: 100%;
  height: 4rem;
  font-family: inherit;
}

.form-inputs input:hover,
.form-inputs select:hover {
  border: 2px solid var(--color-info-dark);
}

/************** FOOTER ***************/

.footer {
  text-align: center;
}
