.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
}

.dashboard-container {
  display: flex;
  margin: 0 4.8rem;
  background-color: #999;
}

.dashboard-table {
  flex: 1;
}

.table-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-courses {
  display: flex;
}

.info-edit {
  display: flex;
  justify-content: end;
}
